<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  </head>
  <body>
    <h1 style="font-family: Roboto;">Welcome to my Landing Page!</h1>
    <div style="background-color:aliceblue;" align="center">
      <img src="plusle.png" alt="Plusle" width="400" height="333">
      <p style="color:#D2042D; font-size: 20px; font-family: Roboto;">{{message}}</p>
    </div>
    <div align="right">
      <a style="font-family: Roboto;" href="https://github.com/kayheen/containerised-app">view my public repository here</a>
    </div>
  </body>
</html>